@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-ubuntu-sans);
	--font-mono: var(--font-ubuntu-mono);
}

.lucide {
	stroke-width: 2;
}

/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}